<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="A4L_Translate.DeepLSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="A4L_Translate.DeepL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="A4L_Translate.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <A4L_Translate.DeepLSettings>
            <setting name="auth_key" serializeAs="String">
                <value />
            </setting>
        </A4L_Translate.DeepLSettings>
        <A4L_Translate.DeepL>
            <setting name="auth_key" serializeAs="String">
                <value />
            </setting>
        </A4L_Translate.DeepL>
        <A4L_Translate.Settings>
            <setting name="deeplAuthKey" serializeAs="String">
                <value />
            </setting>
        </A4L_Translate.Settings>
    </applicationSettings>
</configuration>